<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
                <br/>

                <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                          <%if @user.avatar.attached?%>
                            <%= image_tag @user.avatar, alt: 'avatar', class:"rounded-circle" %>
                          <%else%>
                            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle">
                          <%end%>
                        </div>

                    </div>
                </div>
              </div>
                <div class="form-label-group">
                  <%="Prénom :  #{@user.first_name}"%>
                </div>
                <br/>
                <div class="form-label-group">
                  <%="Nom :  #{@user.last_name}"%>
                </div>
                <br/>
                <div class="form-label-group">
                  <%="email :  #{@user.email}"%>
                </div>
                <br/>
                <div class="form-label-group">
                  <%="Description :  #{@user.description}"%>
                </div>
                <br/>
                <div class="form-label-group">
                  <%="Membre depuis le :  #{@user.created_at.to_date}"%>
                </div>
                <br/>
                <div class="form-label-group">
                  <%=link_to "Editer mon profil", edit_user_registration_path%>
                </div>

                <%= form_tag user_avatars_path(@user), multipart: true do %>
                    <%= file_field_tag :avatar %>
                    <%= submit_tag "mettre à jour" %>
                <% end %>
                
                <%link_to user_path(current_user)%>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>