<div class="card" style="width: 25rem;">
  <ul class="card-body" class= "list-group list-group-flush">
    <li class="card-title" class="list-group-item" class="font-weight-bold"><%="Title : " + @event.title%></li>
    <li class="card-text" class="list-group-item" class ="text-justify"><%= "Description : " + @event.description %></li>
    <li class="card-title" class="list-group-item"> <%= "Start date : " %></li>
    <li class="card-title" class="list-group-item"> <%= "Duration : " %></li>
    <li class="card-title" class="list-group-item"> <%= "Location : " %></li>
    <li class="card-title" class="list-group-item"> <%= "Price : " %></li>
  </ul>
</div>